

.query-form {
    width: 60%;
    margin-left: 20%;
}

button {
    margin-left: 1%;
}

.operation-select { 
    width: 60%;
    margin-left: 20%;
}

.code-box {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    border: solid #a0a0a0 0.2em;
    border-radius: 0.6em;
    background-color: #e7eaed;
}
